.aboutus-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #f9f5ff;
    margin-top: -25px;
}

.text-container {
    font-size: 16px;
    height: auto;
    margin-top: 30px;
    background: rgb(255, 255, 255);
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.text-container h2 {
    font-size: 40px;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

.carousel-news-wrapper {
    width: 90%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.news-wrapper {
    max-width: 440px;
    height: 445px;
    margin-inline: auto;
}

.MuiTabs-flexContainer {
    background: #1b193d;
}

@media screen and (max-width: 420px) {
    .text-container {
        font-size: 15px;
        width: 90%;
        padding: 10px;
    }
    .news-wrapper {
        margin-top: inherit;
    }
}