.members {
  font-size: 1.8rem;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr {
  margin: 1rem auto;
  width: 20rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.email {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  margin: 0.1rem 0;
}

.phone {
  font-size: 1.2rem;
  color: black;
  display: flex;
  justify-content: flex-start;
  margin: 0.1rem 0;
}
