.members {
  font-size: 1.65rem;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.volunteers {
  font-size: 1.4rem;
}

.hr {
  margin: 1rem auto;
  width: 20rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.email {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  margin: 0.1rem 0;
}

.phone {
  font-size: 1.2rem;
  color: black;
  display: flex;
  justify-content: flex-start;
  margin: 0.1rem 0;
}

.volunteerPapaer {
  padding: 0.5rem;
  margin: 0.5rem auto;
}

@media only screen and (max-width: 600px) {
  .volunteerPapaer {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .volunteerPapaer {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .volunteerPapaer {
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {
  .volunteerPapaer {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .volunteerPapaer {
    width: 80%;
  }
}

.volunteerEmail {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}
