.contact-card {
  width: 22rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 0.35rem;
  margin: auto;
}

.card-header {
  padding: 0.2rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
}

.designation {
  font-size: 1.3rem;
  color: black;
  text-align: center;
  margin: 0.2rem 0;
}

.sub_designation {
  font-size: 1.2rem;
  color: black;
  margin: 0.2rem 0;
}

.contact-card .profile-image {
  margin: 1rem 0;
  width: 15rem;
  height: 15rem;
  border-radius: 0.5rem;
}

.contact-card .card-content {
  padding: 0.2rem;
  background-color: #f5f5f5;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
}

.contact-card .footer {
  padding: 0.7rem;
  margin: 0rem auto;
  width: 17.5rem;
}

.contact-card .footer .email {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  margin: 0.2rem 0;
}

.contact-card .footer .phone {
  font-size: 1.2rem;
  color: black;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  margin: 0.2rem 0;
}

.social {
  height: 2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
}

.github {
  color: black;
  margin: 0 0.5rem;
  width: 1.8rem;
  height: 1.8rem;
  text-decoration: none;
}

.linkedin {
  color: #0072b1;
  margin: 0 0.5rem;
  width: 2.2rem;
  height: 2.2rem;
  text-decoration: none;
}
